body {
  background: #ffffff;
  font-family: 'Helvetica' !important;
}

/* CONTENT SECTION BEGIN */
.content-section {
  margin-left: 50px;
  margin-top: 70px;
  background: #F4F5F7;
}
/* CONTENT SECTION END */


/* ********** SEARCH CARS BEGIN ********** */
.box-pencarian {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}

.box-pencarian-without-header-text {
  position: relative;
  top: -75px;
  margin-bottom: -75px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}
/* ********** SEARCH CARS END ********** */


/* ********** LIST CARD BEGIN ********** */
.cars-card {
  width: 360px;
  min-height: 482px;
  height: fit-content;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  padding: 24px;
  margin: 0px 10px;
}

/* .car-img {
  display: flex;
  justify-content: center;
  padding: 31px 16px;
}

.car-size {
  width: 100%;
} */

.delete-btn {
  width: 143.5px;
  height: 48px;
  color: red !important;
  font-weight: 700;
  font-size: 14px;
}

.choice-btn {
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  background-color: #5CB85F !important;
  color: #FFFFFF !important;
  font-weight: 700;
  border-radius: 2px !important;
}
/* ********** LIST CARD END ********** */


/* ********** DETAIL CAR BEGIN ********** */
.box-detail-car {
  /* max-width: 780px; */
  height: 1000px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff00 !important;
  outline: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed){
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
/* ********** DETAIL CAR END ********** */


/* NAVBAR SECTION BEGIN */
.navbar-admin-section {
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-admin {
  background-color: white;
  height: 70px;
  width: 100vw;
}

/* NAVBAR SECTION END */


/* SIDEBAR SECTION BEGIN */

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0D28A6;
  width: 70px;
  height: 100vh;
  color: white !important;
  font-size: 12px;
}

.main-menu a,
.main-menu a:hover {
  color: white !important;
  text-decoration: none;
}

.box {
  height: 70px;
}

.box:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.side-icon {
  width: 30px;
}

.menu-list {
  position: fixed;
  top: 70px;
  left: 70px;
  width: 220px;
  height: 100vh;
  background-color: white;
}

.list-menu {
  font-weight: 700;
  padding: 12px 18px;
}

.list-menu:hover {
  background-color: #CFD4ED;
}

.menu-list a {
  color: black;
  text-decoration: none;
}

/* SIDEBAR SECTION END */


/* ----------------------------------------------------- */
/* ------------ CSS CONTENT START FROM HERE ------------ */
/* ----------------------------------------------------- */


/* ADD NEW CAR BEGIN */
.sub-tree i {
  position: relative;
  top: 5px;
}

a:hover {
  color: blue !important;
}

.sub-tree a {
  color: black;
  text-decoration: inherit;
}

.icon {
  background-size: 20px;
  background-origin: content-box, padding-box;
  cursor: pointer;
}

.btn-decision {
  margin-top: 100px;
}

.btn-cancel,
.btn-save {
  padding: 8px 12px !important;
  border: 2px #0D28A6 solid !important;
  color: #0D28A6 !important;
  font-weight: 700 !important;
}

.btn-cancel:hover,
.btn-save:hover {
  background: #0D28A6 !important;
  color: white !important;
}

/* ADD NEW CAR END */


/* LOGIN ADMIN BEGIN */
.cars-baner {
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .hidden-on-small-size {
      overflow: hidden;

      display: none !important;
      padding: 400px;
  }
}

.form-head h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-top: 24px;
}

.form-content {
  min-width: 300px;
}

.form-content button {
  width: 100%;
  background: #0D28A6;
  border-radius: 2px;
  margin-top: 16px;
}

.form-content label {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

.form-content input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

.redirect-login {
  font-size: 14px;
}
/* LOGIN & REGISTER ADMIN END */


/* LIST CARD BEGIN */
.card-list {
  width: 341px;
  max-height: 482px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  padding: 24px;
}

.car-img {
  display: flex;
  justify-content: center;
  padding: 31px 16px;
  min-height: 140px;
  /* max-height: 400px; */
}

.car-size {
  width: 100%;
  object-fit: cover;
}

.delete-btn {
  width: 143.5px;
  height: 48px;
  color: red !important;
  font-weight: 700;
  font-size: 14px;
}

.edit-btn {
  width: 143.5px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
}

.add-btn {
  border-radius: 2px;
  padding: 7px 14px;
}

.list-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group button {
  font-size: 14px;
}

.btn-sort {
  display: block;
  border: 1px solid #aeb7e1;
  color: #aeb7e1;
  border-radius: 2px;
  border: #0D28A6 1px solid;
  font-weight: 700;
  background-color: white;
  margin-right: 16px;
}

.btn-sort:hover {
  color: #0d28a6;
  background-color: #cfd4ed;
}

/* ALERT */
.success-box {
  width: 75vw;
  max-width: 550px;
  color: #FFFFFF;
  background-color: #73CA5C !important;
}

.delete-box {
  width: 75vw;
  max-width: 550px;
  color: #FFFFFF;
  background-color: #151515;
}

.error-box {
  width: 75vw;
  max-width: 550px;
  color: #FFFFFF;
  background-color: #ff0004 !important;
}

.modal-center {
  top: 50% !important;
  transform: translateY(-50%) !important;
}


/* POPUP */
.popup {
  padding: 24px 32px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 387px;
  height: 333px;
  transition: all 0.5s ease-in-out;
  align-items: center;
}

.popup h5 {
  margin-top: 24px;
  margin-bottom: 16px;
  color:  #000000;
  font-size: 16px;
  font-weight: bolder;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.btn-popup-yes {
  background-color: #0D28A6;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 87px;
  border-radius: 2px;
}

.btn-popup-no {
  border: 2px solid #0D28A6;
  color: #0D28A6;
  font-size: 14px;
  font-weight: bold;
  width: 87px;
  border-radius: 2px;
}

.btn-popup-no:hover {
  color: #0D28A6;
}

.btn-popup-yes:hover {
  color: white;
}
/* LIST CARD END */


/* DASHBOARD (TABLE) BEGIN */
.tabel-head {
  background: #CFD4ED;
  border-bottom-width: 2px;
  border-color: #CFD4ED;
}

.border-left-blue {
  border-left: 5px solid #0D28A6;
}

.form-select {
  width: 76px;
  height: 36px;
  font-size: 12px;
}

.page-menu {
  display: flex;
  justify-content: flex-end;
}

.page-number .page-link {
  height: 38px;
  width: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #8A8A8A;
}

.page-number .active .page-link {
  background: #CFD4ED;
  color: #0D28A6;
  border-color: #0D28A6;
}

.btn-go {
  background: #0D28A6;
  color: #fff;
}
/* DASHBOARD (TABLE) END */